doctype html
html
  head
    title Custom Object Table
  body
    h1 Custom Object Table
    table(border="1")
      tr
        th Name
        th Colour
        th Size
      each record in records
        tr
          td= record.properties.name
          td= record.properties.colour
          td= record.properties.size

    br
    a(href="/update-coi") Add a new record
